<section class="hero-wrap hero-wrap-2" style="background-image: url('/assets/images/bg_2.jpg');"
	data-stellar-background-ratio="0.5">
	<div class="overlay"></div>
	<div class="container">
		<div class="row no-gutters slider-text align-items-end justify-content-center">
			<div class="col-md-9 ftco-animate mb-5 text-center">
				<p class="breadcrumbs mb-0"><span class="mr-2"><a href="/">Home <i
								class="fa fa-chevron-right"></i></a></span> <span>Checkout <i
							class="fa fa-chevron-right"></i></span></p>
				<h2 class="mb-0 bread">Checkout</h2>
			</div>
		</div>
	</div>
</section>

<section class="ftco-section">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-xl-10 ftco-animate">
				<form   id="checkout-form" class="checkout-form">
					<p><a href="#" class="btn btn-primary py-3 px-4 mr-4">Add New Address </a></p>
					<h3 class="mb-4 billing-heading">Billing Details</h3>
					<div class="row align-items-end">
						<div class="col-md-6">
							<div class="form-group">
								<label for="firstname">Firt Name</label>
								<input type="text" id="Name" name="Name" class="form-control" placeholder="">
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label for="lastname">Last Name</label>
								<input type="text" id="Last_Name" name="Last name"  class="form-control" placeholder="">
							</div>
						</div>
					<div class="col-md-6">
							<div class="form-group">
								<label for="lastname">Place</label>
								<input type="text" id="Place" name="Place"  class="form-control" placeholder="">
							</div>
						</div>
						<div class="w-100"></div>
						<div class="col-md-6">
							<div class="form-group">
								<label for="streetaddress">Street Address</label>
								<input type="text" id="Street" name="Street" class="form-control" placeholder="House number and street name">
							</div>
						</div>
						{{!-- <div class="col-md-6">
							<div class="form-group">
								<input type="text" class="form-control"
									placeholder="Appartment, suite, unit etc: (optional)">
							</div>
						</div> --}}
						<div class="w-100"></div>
						<div class="col-md-6">
							<div class="form-group">
								<label for="towncity">Town / City</label>
								<input type="text" id="City" name="City" class="form-control" placeholder="">
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label for="postcodezip">Pincode</label>
								<input type="text" id="Pincode" name="Pincode" class="form-control" placeholder="">
							</div>
						</div>
						<div class="w-100"></div>
						<div class="col-md-6">
							<div class="form-group">
								<label for="phone">Phone</label>
								<input type="text" id="Mobile" name="Mobile" class="form-control" placeholder="">
								<input type="text" name="userId" id="" value="{{user._id}}" hidden>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label for="emailaddress">Email Address</label>
								<input type="text" id="Email" name="Email" class="form-control" placeholder="">
							</div>
						</div>
						<div class="w-100"></div>
						<div class="col-md-12">
							<div class="form-group mt-4">
								<div class="radio">
									<label class="mr-3"><input type="radio" name="optradio"> Create an Account? </label>
									<label><input type="radio" name="optradio"> Ship to different address</label>
								</div>
							</div>
						</div>
					</div>
				



				<div class="row mt-5 pt-3 d-flex">
					<div class="col-md-6 d-flex">
						<div class="cart-detail cart-total p-3 p-md-4">
							<h3 class="billing-heading mb-4">Cart Total</h3>
							<p class="d-flex">
								<span>Subtotal</span>
								<span >{{total}}</span>
							</p>
							<p class="d-flex">
								<span>Delivery</span>
								<span>120.00</span>
							</p>
							
							<hr>
							<p class="d-flex total-price">
								<span>Total</span>
								<span>Rs.{{GrandTotal}}</span>
							</p>
						</div>
					</div>
					<div class="col-md-6">
						<div class="cart-detail p-3 p-md-4">
							<h3 class="billing-heading mb-4">Payment Method</h3>
							<div class="form-group">
								<div class="col-md-12">
									<div class="radio">
										<label><input type="radio" name="paymentmethod" value="COD" class="mr-2">COD</label>
									</div>
								</div>
							</div>
							<div class="form-group">
								<div class="col-md-12">
									<div class="radio">
										<label><input type="radio" name="paymentmethod"  value="Online Pyament" class="mr-2">Card</label>
									</div>
								</div>
							</div>
							<div class="form-group">
								<div class="col-md-12">
									<div class="radio">
										<label><input type="radio" name="paymentmethod" value="Gpay" class="mr-2"> Gpay</label>
									</div>
								</div>
							</div>
							<div class="form-group">
								<div class="col-md-12">
									<div class="checkbox">
										<label><input type="checkbox" value="" class="mr-2"> I have read and accept the
											terms and conditions</label>
									</div>
								</div>
							</div>
							<button type="submit" class="btn btn-success" >PLACE ORDER</button>
						</div>
					</div>
				</div>
			</div> <!-- .col-md-8 -->
		</div>
	</div>
	</form><!-- END -->
</section>
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>

<script>
	$("#checkout-form").submit((e)=>{
		e.preventDefault()
		$.ajax({
			url:"/checkout",
			method:'post',
			data:$('#checkout-form').serialize(),
			success:(response)=>{
				if(response.codSuccess){
					location.href="/order-success"
				}else{
					razorpayPayment(response)

				}
				alert("working")
			}


		})
	})
	function razorpayPayment(order){
		alert("Not workinggggggggggggggggggggggggggg")
		var options = {
    "key": "rzp_test_LzENomul3uevEZ", // Enter the Key ID generated from the Dashboard
    "amount":order.amount, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
    "currency": "INR",
    "name": "Magical Spirits",
    "description": "Test Transaction",
    "image": "https://example.com/your_logo",
    "order_id": order.id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
    "handler": function (response){
       

		verifypayment(response,order)
    },
    "prefill": {
        "name": "Magical Spirtis",
        "email": "admin.magicalspirits@gmail.com",
        "contact": "+91 9895767256"
    },
    "notes": {
        "address": "Razorpay Corporate Office"
    },
    "theme": {
        "color": "#3399cc"
    }
};
var rzp1 = new Razorpay(options);
rzp1.open();
	}
	function verifypayment(payment,order){
		console.log("vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv")
		$.ajax({
			url:'/verify-Payment',
			data:{
				payment,
				order

			},
			method:'post',
			success:(response)=>{
				console.log("gggggggggggggg")
				if(response.status){
					console.log("llllllllllllll")
					location.href='/order-success'
				}else{
					console.log("kkkkkkkkkkkkkkkkkkk")
					alert("payment Failed")
				}
				

			}
			
		})
	}

</script>